@model ITMO.ASP.MVC.Lab.Models.Person

@{
    
    ViewBag.Title = "Главная";
}


<div>
    <h1>Здравствуйте, @Model.ToString()!</h1>
    <p>
        @Html.ActionLink("На главную", "Index")
    </p>
</div>
